    <span>{{ title }} app is running!</span>
    <head>  
        <meta charset="utf-8">  
        <title>Bootstrap Part11</title>  
        <meta name="viewport" content="width=device-width,initial-scale=1">  
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">  
        
    </head>  
    <body>  
        <!--Default Navbar Start Here-->  
        <!--<nav> tag  start with classes .navbar and .navbar-default and .navbar-fixed-top-->  
        <nav class="navbar navbar-default navbar-fixed-top" id="RedMenu">  
            <div class="container-fluid">  
                <!--Navbar Header Start Here-->  
                <div class="navbar-header">  
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#MainNavBar"   
                       style="background-color:#000">  
                        <span class="icon-bar" style="background-color:#ffffff"></span>  
                        <span class="icon-bar" style="background-color:#ffffff"></span>  
                        <span class="icon-bar" style="background-color:#ffffff"></span>  
                    </button>  
                    <a class="navbar-brand" style="color: #ffffff" href="#">C-sharp Corner</a>  
                </div>  
                <!--Navbar Header End Here-->  
                <!--Menu Start Here-->  
                <div class="collapse navbar-collapse" id="MainNavBar">  
                    <ul class="nav navbar-nav navbar-right">  
                        <li><a href="#">Home</a></li>  
                        <li><a href="#">About Us</a></li>  
                        <li><a href="#">Technology</a></li>  
                        <li><a href="#">Contact Us</a></li>  
                    </ul>  
                </div>  
                
                <!--Menu End Here-->  


                <div>
                    <div>
                        <button type="button" class="btn btn-primary btn-lg "  [routerLink]="['/registration']">Register</button>
    
                    </div>
                </div>
            </div>  
        </nav>  
        <!--<nav> tag end-->  
        <!--Default Navbar End Here-->  
        <script src="js/jquery-2.1.4.min.js"></script>  
        <script src="js/bootstrap.min.js"></script>  
    </body>  
    

    
<router-outlet></router-outlet>